<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
<body class="">
    <div class="container">
            <div class="row">
              
              <div class="col-lg-2"></div>
          
              <div class="col-lg-8 my-3 text-center">
                <h1>Cadastrar</h1>
                <p class="lead">Crie sua conta para acessar sua agenda</p>
              </div>
          
              <div class="col-lg-2"></div>
            </div>
            
            <%- include('includes/errors.ejs') %>
            <%- include('includes/sucess.ejs') %>
            
            <div class="row justify-content-center">
                        
                      <div class="col-lg-4">

                        <form method="POST" action="/sign-up/register">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email">
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password">
                          </div>

                          <button type="submit" class="btn btn-primary w-100">
                            Criar conta
                          </button>

                        </form>
                        <a href="/login" class="btn btn-white border w-100 my-3">
                            Login
                        </a>

                      </div>
                </div>
        </div>
        <%- include('includes/footer.ejs') %>
